extends layout 

block content 
    h2=title

    form(method="POST" action="/new") 
        label(for='author') Author: 
        br
        input(type='type' name='author' placeholder='Name' required='true')
        br
        label(for='message') Message: 
        br
        input(type='type' name='message' placeholder='Write your message here.' required='true') 
        br
        button(type='submit') Submit 

    a(href="/") Cancel