extends layout

block content
  h2= title

  div.messages 
    each message in messages 
      hr 
      p #{message.user}
      p #{message.added} 
      p #{message.text}

  a(href="/new") Create New Message